@import '~antd/dist/antd.css';

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #0032A0;
  width: 100%;
  height: 800px;
  background-image: url('./Assets/images/Quito.jpg');
 
}
.block{
  background-color:  #e31c79;
 
  border-radius: 25px;
  width: 50%;
  height: 450px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  box-shadow: 10px 5px 10px black;
}
.input {
  width: 30%;
}
.btn{
  width: 20%;
  margin-top: 5px;
  background-color: #00A3E0;
  border-radius: 5px;
  border:black solid 2px;
}
.title{
  -webkit-text-stroke: 2px black;
  color:white;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
.subtitle{
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  width: 70%;
  text-align: center;
  
}
.input{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 160px;
  height: 40px;
  border:black solid 2px;
  border-radius: 5px;
}
